plugins:
  updates:
    every: 4
    programming:
      - language: "ruby"
        path: "Projects/Ruby"
        files: ["Rakefile"]
        ignore: []
        commands:
          - execute: "rake test"
            message: "Cannot test the project"
            exit_codes: [0]
      - language: "crystal"
        path: "Projects/Crystal"
        files: ["shard.yml"]
        ignore: ["libnotify.cr", "Darling", "notify"]
        commands:
          - execute: "timeout 2s crystal spec"
            message: "Cannot build the project"
            exit_codes: [0, 31744]
    archlinux:
      - linux
      - youtube-dl